version: '3.1'
services:
  stats-server:
    build: stats/stats-server
    image: stats-image
    container_name: stats-container
    ports:
      - "9090:9090"
    depends_on:
      - stats-db
    environment:
      - EWM_SERVICE_URL=http://ewm-service:8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/stats-database
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=iamroot

  stats-db:
    image: postgres:13-alpine
    container_name: stats-db-postgres
    ports:
      - "6543:5432"
    environment:
      - POSTGRES_DB=stats-database
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=iamroot

  ewm-service:
    build: ewm-service
    image: main-service-image
    container_name: main-service-container
    ports:
      - "8080:8080"
    depends_on:
      - ewm-db
    environment:
      - STATS_SERVER_URL=http://stats-server:9090
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5432/main-service-db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=iamroot

  ewm-db:
    image: postgres:13-alpine
    container_name: main-service-db-postgres
    ports:
      - "6542:5432"
    environment:
      - POSTGRES_DB=main-service-db
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=iamroot
